- provide(:title, "About Chapel Radio")
%section
  .container
    .row
      .span7
        :markdown
          # About this radio thing

          So, you've made it beyond the sermon pages to here, hoping to find out just WTH is going on. Well, this dear traveller is a web application I've made *especially* for you. You can think of it as a love letter of sorts. My [Magnum opus](https://en.wikipedia.org/wiki/Magnum_opus) (up to this point in my life) which I dedicate to Jesus. To explain *why* would be to tell a **very** long story, and just this second, I don't feel like typing that much. Suffice it to say, I saw a need and decided to scratch my own itch. And so this Chapel Radio thingy is the result of me trying to do that.

          The idea took seed years ago when I was but a l'il pup, going through grad school (for the first time). I heard [this guy](https://twitter.com/LonnieSnell) speak and it ... well, it spoke to me. The first time I walked into his church it was kinda weird, there were a bunch of white people around (which, by this time no longer filled me with the sense of awe and wonder it had inspired as a child) and, quite unexpectedly they seemed … happy. In church. Not just content or OK or "fine" mind you, but genuinely happy and excited to be there. In church. It was one of those moments in life that stuck with me, a defining moment you might say.

          Even more exceptional than the environment of the church was the preaching from the pulpit (do people still call it that?). The *message* was as approachable as the members, but managed to lose none of the gravitas inherent in God's Word. To hear someone "bring the word" -- and believe me, *it was brought* -- with such clarity of purpose, and relevance was truly a mind-blowing experience. If you think about it, that's _exactly_ what The Bible is like.

          Sure, some people find the Bible to be confusing/boring, but once you get past the "Ye's" and "Verily's" of a certain translation, what you're left with is flippin' _awesome_ stories that stick with you.

          - The little kid who put the beatdown on a huge Giant. With a slingshot!
          - The sheperd boy that killed a lion. *With his bare hands*!
          - Dudes chillin' in a fiery furnace so hot that the guys throwing them into the fire got burned up, while the guys IN the fire came out fine. NOT EVEN SMELLING LIKE SMOKE. Have you any idea how hard it is to not smell of smoke even if just in the __general vicinity__ of a bonfire? I hate the smell so let me tell you, it's downright impossible. But I digress.
          - Did I mention the one about the hooker who saved some spies, who came from a country that defeated a city by __walking around it__ and making the walls fall down.

          I could go on (I love me a hooker story, and there are LOTS) but I'm probably losing you now. I bet some of the folks I lost are googling for "Hooker in Bible" as we speak. My point is, the Bible is presented to us, by God, in such a way as to be amazingly, awesomely, astonishingly memorable -- not counting the genealogy portions. Having found someone who could present the Bible in a similar manner -- from my point of view -- I thought let's share! 

          After all, if he can hold the attention of a skeptical/know-it-all/easily distracted individual like me then couldn't he also teach others like me. The answer rang loud and true in my head "That's a *definite* **MAYBE**!" But how to reach them? And so the idea for Chapel Radio was born.

          "But!" I hear you say, "My pastor/preacher/lover/friend" is similarly awesome. I too want to share with the world". I *could* tell you to go make your own app, but I'm feeling generous today. That, and Chapel Radio is perfectly suited for sharing. So you can grab it and do as you please. You don't even have to pay me. Just go to the [Github page](https://github.com/illogic-al/chapel_radio) for Chapel Radio. So go forth and fork my son. And may the source be with you. It's built on Rails so if you know that, you already have a leg up.

          It's taken quite a lot of time, and sacrifice to make this available, so for those who feel inclined to reward me, allow me to point you to [God's Word for the World](http://godswordfortheworld.com/give.html). God's Word for the World is a non-profit that, among other things, works with organizations in less privileged areas of the world to provide orphans with schooling, food and access to Bible's in their **native language**. The president, Lance, is old. I mean, he's like *hella* old. He also has a passion for the work he's doing that defies his (hella old) age. If I have just 1/10 the passion for anything I do when I get to his (hella old) age, I'd be ... well, I'd be 1/10 as much passionate. Hopefully that would translated to being at least 1/10 as much productive as he is, which I think is what I was going for when I originally started this paragraph.

          To conclude, go check [God's Word for the World](http://godswordfortheworld.com/give.html) out anyway. Sponsor a kid. Save a village. Help a church. Spread the word. Save a life. Or ten. I'm out!
