%section#radio-player
  .container.radio-ui
    %hgroup
      %h1.welcome Welcome to <br /> Chapel Radio
      %h2 Never miss another <span class="glow">word</span>
    %h3
      %a.audiobutton.btn.btn-large.btn-info{href: "#", rel: "/media/sermons/7_17_11"} Start Listening

    #jquery_jplayer_1.jp-jplayer
    #jp_container_1.jp-audio
      .jp-type-single
        .jp-gui.jp-interface
          %ul.jp-controls
            %li
              %a.jp-play.icon-play{href: "#", tabindex: "1"}
            %li
              %a.jp-pause.icon-pause{href: "#", tabindex: "1"}
            %li
              %a.jp-mute.icon-volume{href: "#", tabindex: "1", title: "mute"}
            %li
              %a.jp-unmute.icon-volume-off{href: "#", tabindex: "1", title: "unmute"}
          .jp-progress
            .jp-seek-bar
              .jp-play-bar
      .jp-title

    .playback-indicator

%section.highlight
  .container
    .row
      %h1.span12
        %i.icon-clock
        Latest Broadcasts

    .row
      .featured.span4
        %a.audiobutton{href: "#", rel: "/media/sermons/7_17_11"}
          .section-higher
            %img{src: "/assets/mind_monsters_th.jpg"}
            .overlay
              .container.avatar
                %i.icon-play-circled
          .section-lower
            .span1.text-center
              %h2.white
                %i.icon-user
              %h4.white Lonnie
            .span3
              %h2 Mind Monsters
              %h4 Part 1

      .featured.span4
        %a.audiobutton{href: "#", rel: "/media/sermons/7_10_11"}
          .section-higher
            %img{src: "/assets/mind_monsters_th.jpg"}
            .overlay
              .container.avatar
                %i.icon-play-circled
          .section-lower
            .span1.text-center
              %h2.white
                %i.icon-user
              %h4.white Lonnie
            .span3
              %h2 Mind Monsters
              %h4 Part 2
            /.section-lowest

      .featured.span4
        %a.audiobutton{href: "#", rel: "/media/sermons/7_2_11"}
          .section-higher
            %img{src: "/assets/mind_monsters_th.jpg"}
            .overlay
              .container.avatar
                %i.icon-play-circled
          .section-lower
            .span1.text-center
              %h2.white
                %i.icon-user
              %h4.white Lonnie
            .span3
              %h2 Mind Monsters
              %h4 Part 3

      .featured.span4
        %a.audiobutton{href: "#", rel: "/media/sermons/7_10_11"}
          .section-higher
            %img{src: "/assets/mind_monsters_th.jpg"}
            .overlay
              .container.avatar
                %i.icon-play-circled
          .section-lower
            .span1.text-center
              %h2.white
                %i.icon-user
              %h4.white Lonnie
            .span3
              %h2 Mind Monsters
              %h4 Part 4

      .featured.span4
        %a.audiobutton{href: "#", rel: "/media/sermons/7_2_11"}
          .section-higher
            %img{src: "/assets/mind_monsters_th.jpg"}
            .overlay
              .container.avatar
                %i.icon-play-circled
          .section-lower
            .span1.text-center
              %h2.white
                %i.icon-user
              %h4.white Lonnie
            .span3
              %h2 Mind Monsters
              %h4 Part 5

