%section#radio-player
  .container
    .radio-ui
      %h1.welcome.text-center Welcome to Chapel Radio
      %h2 Never miss another <span class="glow">word</span>
      .playback-indicator

%section.highlight.recent
  .row
    %h1.text-center
      %i.icon-clock
      Latest Broadcasts

  .container
    .row
      .featured.span4
        %a{href: "#"}
          .section-cover-img
            %img{src: "/assets/bg6.jpg"}
            .container.avatar
              %i.icon-play-circled
          .section-divide
          .section-info.text-center
            %h3.title Sermon Title
            %p Sermon Speaker

      .featured.span4
        %a{href: "#"}
          .section-cover-img
            %img{src: "/assets/bg6.jpg"}
            .container.avatar
              %i.icon-play-circled
          .section-divide
          .section-info.text-center
            %h3.title Sermon Title
            %p Sermon Speaker

      .featured.span4
        %a{href: "#"}
          .section-cover-img
            %img{src: "/assets/bg6.jpg"}
            .container.avatar
              %i.icon-play-circled
          .section-divide
          .section-info.text-center
            %h3.title Sermon Title
            %p Sermon Speaker

/%section.highlight.stations
/  %h1.text-center
/    %i.icon-signal
/    Stations

/  .container
/    .row
/      .program.span4
/        %a{href: "#"}
/          %h2 Sermons

/      .program.span4
/        %a{href: "#"}
/          %h2 Events

/      .program.span4
/        %a{href: "#"}
/          %h2 Worship
