%section#radio-player
  .container.radio-ui
    %hgroup#intro_msg
      %h1.welcome Welcome to <br /> Chapel Radio
      %h2 Never miss another <span class="glow">word</span>
      %h3
        %a.audiobutton.btn.btn-large.btn-info{href: "#", rel: "http://thebennettproject.com/media/sermons/61613"} Start Listening

    #jquery_jplayer_1.jp-jplayer
    #jp_container_1.jp-audio
      .jp-type-single
        .jp-gui.jp-interface
          %ul.jp-controls
            %li
              %a.jp-play.icon-play{href: "#", tabindex: "1"}
            %li
              %a.jp-pause.icon-pause{href: "#", tabindex: "1"}
            %li
              %a.jp-mute.icon-volume{href: "#", tabindex: "1", title: "mute"}
            %li
              %a.jp-unmute.icon-volume-off{href: "#", tabindex: "1", title: "unmute"}
          .jp-progress
            .jp-seek-bar
              .jp-play-bar
      .jp-title

    .playback-indicator

%section.highlight
  .container
    .row
      %h1.span12
        %i.icon-clock
        Latest Broadcasts

    .row
      .featured.span4
        %a.audiobutton{href: "#", rel: "http://thebennettproject.com/media/sermons/61613"}
          .section-higher
            %img{src: "/assets/the_heist_th.jpg"}
            .overlay
              .container.avatar
                %i.icon-play-circled
          .section-lower
            .span1.text-center
              %h2.white
                %i.icon-user
              %h4.white L. Snell
            .span3
              %h2 The Heist
              %h4 Father's Day

      .featured.span4
        %a.audiobutton{href: "#", rel: "http://thebennettproject.com/media/sermons/6913"}
          .section-higher
            %img{src: "/assets/the_heist_th.jpg"}
            .overlay
              .container.avatar
                %i.icon-play-circled
          .section-lower
            .span1.text-center
              %h2.white
                %i.icon-user
              %h4.white L. Snell
            .span3
              %h2 The Heist
              %h4 Reclaiming Your Manhood Pt. 2

      .featured.span4
        %a.audiobutton{href: "#", rel: "http://thebennettproject.com/media/sermons/6213_Joe Burress_Burress"}
          .section-higher
            %img{src: "/assets/the_heist_th.jpg"}
            .overlay
              .container.avatar
                %i.icon-play-circled
          .section-lower
            .span1.text-center
              %h2.white
                %i.icon-user
              %h4.white J. Burress
            .span3
              %h2 The Heist
              %h4 Reclaiming Your Manhood Pt. 1

    .row
      .featured.span4
        %a.audiobutton{href: "#", rel: "http://thebennettproject.com/media/sermons/4713"}
          .section-higher
            %img{src: "/assets/mind_monsters_th.jpg"}
            .overlay
              .container.avatar
                %i.icon-play-circled
          .section-lower
            .span1.text-center
              %h2.white
                %i.icon-user
              %h4.white L. Snell
            .span3
              %h2 Mind Monsters
              %h4 Part 1

      .featured.span4
        %a.audiobutton{href: "#", rel: "http://thebennettproject.com/media/sermons/41413"}
          .section-higher
            %img{src: "/assets/mind_monsters_th.jpg"}
            .overlay
              .container.avatar
                %i.icon-play-circled
          .section-lower
            .span1.text-center
              %h2.white
                %i.icon-user
              %h4.white L. Snell
            .span3
              %h2 Mind Monsters
              %h4 Part 2

      .featured.span4
        %a.audiobutton{href: "#", rel: "http://thebennettproject.com/media/sermons/42113"}
          .section-higher
            %img{src: "/assets/mind_monsters_th.jpg"}
            .overlay
              .container.avatar
                %i.icon-play-circled
          .section-lower
            .span1.text-center
              %h2.white
                %i.icon-user
              %h4.white L. Snell
            .span3
              %h2 Mind Monsters
              %h4 Part 3

      .featured.span4
        %a.audiobutton{href: "#", rel: "http://thebennettproject.com/media/sermons/5513"}
          .section-higher
            %img{src: "/assets/mind_monsters_th.jpg"}
            .overlay
              .container.avatar
                %i.icon-play-circled
          .section-lower
            .span1.text-center
              %h2.white
                %i.icon-user
              %h4.white L. Snell
            .span3
              %h2 Mind Monsters
              %h4 Part 4

      .featured.span4
        %a.audiobutton{href: "#", rel: "http://thebennettproject.com/media/sermons/51913"}
          .section-higher
            %img{src: "/assets/mind_monsters_th.jpg"}
            .overlay
              .container.avatar
                %i.icon-play-circled
          .section-lower
            .span1.text-center
              %h2.white
                %i.icon-user
              %h4.white L. Snell
            .span3
              %h2 Mind Monsters
              %h4 Part 5

      .featured.span4
        %a.audiobutton{href: "#", rel: "http://thebennettproject.com/media/sermons/52613"}
          .section-higher
            %img{src: "/assets/mind_monsters_th.jpg"}
            .overlay
              .container.avatar
                %i.icon-play-circled
          .section-lower
            .span1.text-center
              %h2.white
                %i.icon-user
              %h4.white L. Snell
            .span3
              %h2 Mind Monsters
              %h4 Part 6

