// Place all the styles related to the LandingPages controller here.
.main {
  background-color: #f8f3f0;
  @include box-sizing(border-box);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

section, footer {
}

header, footer {
  display: table;
  height: em(130);
}

@mixin radio-ui-height{
  height: 80px;
  height: 5rem;
}

$radio-player-height: em(440);

.navbar .nav { float: right; }
h1, h2, h3, h4, h5, h6 { font-weight: 300; font-variant: small-caps; }

h1{
  font-size: em(48);
  color: #8d8070;
}

.valign {
  display: table-cell;
  vertical-align: middle;
}

.logotype {
  margin: 0;
}

#radio-player {
  height: $radio-player-height;
  background-color: #ffffff;
  background: url('/assets/chapel_radio_bg.jpg') center center;
}

.radio-ui {
  height: inherit;
  position: relative;
  h1 {
    margin-top: 55px;
    font-size: 3.75em;
    line-height: 1em;
  }
  h1, h2 {
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 1px 3px rgba(50, 25, 13, 1);
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
}

a:hover, a:focus {text-decoration: none; }

.jp-jplayer, .jp-audio {
  width: 100%;
}

.jp-audio {
  position: absolute;
  bottom: 0;
  //border: 1px solid green;
  @include radio-ui-height;
  overflow: hidden;
  @include border-radius( em(5) );
}

.jp-gui {
  position: relative;
  background-color: rgba(0,0,0, 0.0);
}

.jp-controls {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 5em;
  a{
    color: rgba(255,255,255, 0.1);
  }
  a:hover, a:focus {
    color: rgba(255,255,255, 0.8);
  }
  .jp-play:hover, .jp-pause:hover {
    background-color: rgba(255,255,255, 0.1);
  }
}

.jp-mute, .jp-unmute {
  position: absolute;
  right: em(45);
  top: 0px;
  font-size: 4rem;
  @include radio-ui-height;
}

.jp-progress, .jp-volume-bar {
  position: absolute;
  top: 25px;
  background-color: rgba(255,255,255, 0.2);
  @include border-radius( 20px );
  overflow: hidden;
}

.jp-progress {
  width: 60%;
  right: em(339);
}

.jp-volume-bar {
  right: 1em;
  width: 12%;
}

.jp-play-bar, .jp-volume-bar-value {
  height: em(32);
  background-color: rgba(255,255,255, 0.5);
  @include border-radius( 20px );
}

.jp-time-holder {
  position: absolute;
  right: em(220);
  top: 0rem;
  font-size: 1.25em;
  @include radio-ui-height;
}

.jp-current-time, .jp-duration {
  margin-bottom: 10px;
  margin-top: 13px;
  color: rgba(255,255,255, 0.1);
}

.highlight {
  color: #fff;
  h1 { margin-top: .625em; margin-bottom: 0; }
}

.featured {
  position: relative;
  margin-top: em(50);
  margin-bottom: em(50);
  a {
    text-decoration: none;
  }
}

.section-cover-img {
  height: em(130);
  img {
    @include border-top-radius(0.2em);
    @include position( absolute, em(0) 0 0 em(0) );
    height: inherit;
    width: 100%;
  }
}

.avatar {
  @include position( relative, em(65) 0 0 0 );
  height: 80px;
  width: 80px;
  @include border-radius( em(100) );
  z-index: 10;
}

.icon-play-circled {
  font-size: 80px;
  margin: -2px 0 0 -19px;
  color: #fff;
  color: rgba(255,255,255, 0.2);
  @include transition (all .20s ease-in-out);
}

.icon-user, .icon-clock { font-size: 48px; }

.icon-user { margin-top: 5px; }

.featured:hover .icon-play-circled {
  @include transition (all .20s ease-in-out);
  color: rgba(255,255,255, .7);
}

.white { color: #fff; }

.section-higher {
  height: em(210);
  img {
    @include border-top-radius(8px);
    @include position( absolute, em(0) 0 0 em(0) );
    height: inherit;
    width: 100%;
  }
}

.section-lower {
  height: em(80);
  background-color: #fff;
  color: #b1a599;
  .span1 {
    background-color: #b1a599;
    height: em(80);
    margin-left: 0;
  }
  h2 {
    line-height: 35px;
  }
  h4 { line-height: 1.2em; }
}

.span1 > h2, .span1 > h4 { margin: 0; }

.section-lowest {
  background-color: #f8f3f0;
  height: em(50);
}

.stations {
  background: #191818;
}

.events {
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background: #d14836;
}

.alpha { margin-left: 0; }

.omega { margin-right: 0; }

@media (max-width: 767px) {
  [class*="span"] {
    margin-left: 0;
  }
}

footer {
  background: #776b5d;
  width: 100%;
  p {
    line-height: em(130);
  }
}
