// Place all the styles related to the LandingPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section { width: 100%; }

#header {
  height: em(50);
}

#radio-player {
  height: em(550);
}

.radio-ui {
  position: relative;
}

.playback-indicator {
  position: absolute;
  bottom: 0;
  height: em(10);
}

.recent {
  height: em(340)
}
