// Place all the styles related to the LandingPages controller here.


@font-face {
    font-family: 'LatoBoldItalic';
    src: font-url('Lato-RegIta-webfont.eot');
    src: font-url('Lato-RegIta-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Lato-RegIta-webfont.woff') format('woff'),
         font-url('Lato-RegIta-webfont.ttf') format('truetype'),
         font-url('Lato-RegIta-webfont.svg#LatoItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoBold';
    src: font-url('Lato-Reg-webfont.eot');
    src: font-url('Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Lato-Reg-webfont.woff') format('woff'),
         font-url('Lato-Reg-webfont.ttf') format('truetype'),
         font-url('Lato-Reg-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoItalic';
    src: font-url('Lato-LigIta-webfont.eot');
    src: font-url('Lato-LigIta-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Lato-LigIta-webfont.woff') format('woff'),
         font-url('Lato-LigIta-webfont.ttf') format('truetype'),
         font-url('Lato-LigIta-webfont.svg#LatoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: font-url('Lato-Lig-webfont.eot');
    src: font-url('Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Lato-Lig-webfont.woff') format('woff'),
         font-url('Lato-Lig-webfont.ttf') format('truetype'),
         font-url('Lato-Lig-webfont.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

// All SASS variables and mixings go here
$radio-player-height: em(520);
$height_hi_lo: 80px;
$header_color: #8d8070;
$header_color: #555;
$white: #fff;

@mixin border-radius($radius: 1px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin radio-ui-height {
  height: 80px;
  height: 5rem;
}

// Styles
header, footer { height: $height_hi_lo; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: $header_color;
}

h1{ font-size: em(48); }

a {
  @include transition( color 0.5s ease-in );
  &:hover, &:focus {
    text-decoration: none;
  }
}

.btn-info {
  border: none;
  background: #eeae4b;
  @include transition( (all) 0.3s ease-in );
  @include border-radius( 3px );
  font-family: "Lato", "Helvetica Neue", sans-serif;
  text-shadow: none;
  &:hover {
    @include transition( (all) 0.3s ease-in );
    background: #f78c26;
  }
}

.main {
  background-color: #f8f3f0;
  @include box-sizing(border-box);
  font-size: 16px;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.navbar {
  width: auto;
  float: right;
  .nav > li > a {
    line-height: $height_hi_lo;
    padding: 0 1em;
  }
}

.logotype {
  margin: 0;
  width: 8em;
  line-height: $height_hi_lo;
  display: inline-block;
}

#radio-player {
  height: $radio-player-height;
  background-color: #090f0f;
  background: #090f0f url('/assets/the_heist.jpg') center center no-repeat;
  background: url('/assets/overlay.png') repeat,
              #090f0f url('/assets/the_heist.jpg') center center no-repeat;
}

.radio-ui {
  height: inherit;
  position: relative;
}

.hide {
  visibility: hidden;
}

hgroup {
  h1, h2 {
    color: $white;
    color: rgba(255, 255, 255, 0.9);
    line-height: 1.5em;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
  h3 {
    color: #fff;
    font-size: 1.375em;
  }
}

.welcome {
  margin-top: 1.5em;
  font-size: 3.75em;
  line-height: 1em;
}

// jPlayer controls UI
.jp-jplayer, .jp-audio { width: 100%; }

.jp-audio {
  position: absolute;
  bottom: 0;
  //border: 1px solid green;
  @include radio-ui-height;
  overflow: hidden;
  @include border-radius( em(5) );
}

.jp-gui {  position: relative; }

.jp-controls {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 4.75em;
  a{
    color: #777;
    color: rgba(255,255,255, 0.3);
    &:hover, &:focus {
      @include transition( (all) 0.3s ease-in );
      color: #fff;
      color: rgba(255,255,255, 0.9);
      text-shadow: 3px 2px 3px rgba(43,43,43, 0.9), 0 0 0 rgba(0,0,0, 0.9), 3px 2px 3px rgba(43,43,43, 0.5) ;
    }
  }
}

.jp-play, .jp-pause{
  @include position(absolute, 0px 0 0 -25px);
}

.jp-mute, .jp-unmute {
  @include position(absolute, 0px 0 0 70px);
  font-size: 0.8421em;
  @include radio-ui-height;
}

.jp-progress {
  @include position(absolute, 0 0 -55px 170px);
  width: 80%;
  margin-right: -10px;
}

.jp-seek-bar {
  //border: 1px solid #444;
  //@include box-shadow( 3px 2px 3px rgba(43,43,43, 1) inset);
  background-color: #474747;
  background-color: rgba(255,255,255, 0.1);
  @include border-radius( 20px );
  overflow: hidden;
  &:hover .jp-play-bar {
    background-color: #fff;
    background-color: rgba(255,255,255, 0.9);
    @include transition( (all) 0.3s ease-in );
  }
}

.jp-play-bar {
  height: em(32);
  background-color: #777;
  background-color: rgba(255,255,255, 0.3);
  @include border-radius( 20px );
}

.highlight {
  color: $white;
  h1 { margin-top: .625em; margin-bottom: 0; }
}

.featured {
  position: relative;
  margin-top: em(50);
  margin-bottom: em(50);
  @include border-top-radius( 3px );
  &:hover {
    @include box-shadow( 0 0 5px 3px hsla(23, 36%, 90%, 0.7) );
  }
}

.section-cover-img {
  height: em(130);
  @include border-top-radius( 3px );
  img {
    @include position( absolute, em(0) 0 0 em(0) );
    height: inherit;
    width: 100%;
  }
}

.overlay {
  @include position(relative);
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.2) url('/assets/overlay.png') repeat;
  @include border-top-radius( 3px );
  z-index: 5;
}

.avatar {
  @include position( relative, em(65) 0 0 0 );
  height: 80px;
  width: 80px;
  @include border-radius( em(100) );
  z-index: 10;
}

.featured .icon-play-circled {
  @include transition (all .3s ease-in);
}

.featured:hover .icon-play-circled {
  @include transition (all .3s ease-in);
  color: #fff;
  color: rgba(255,255,255, .8);
}

.icon-play-circled {
  font-size: 80px;
  margin: -2px 0 0 -19px;
  color: $white;
  color: rgba(255,255,255, 0.2);
}

.icon-clock { font-size: 48px; }

.icon-user {
  font-size: 40px;
  margin-top: 5px;
}

.section-higher {
  height: em(210);
  img {
    @include border-top-radius( 3px );
    @include position( absolute, em(0) 0 0 em(0) );
    height: 210px;
    width: 466px;
  }
}

.section-lower {
  height: em(80);
  background-color: $white;
  color: #333;
  overflow: hidden;
  .span1 {
    background-color: #333;
    height: em(80);
    margin-left: 0;
    width: 70px;
  }
  .span3 {
    margin: 0 0 0 5px;
    h2 { font-size: 1.5em; }
    h2, h4 {
      margin-top: 3px;
      margin-bottom: 0;
    }
  }
  h2 {
    line-height: 35px;
  }
  h4 {
    line-height: 1.0em;
    font-size: 1.0em;
  }
}

.span1 > h2, .span1 > h4 { margin: 0; }


.section-lowest {
  background-color: #f8f3f0;
  height: em(50);
}

.white { color: $white; }

.stations {
  background: #191818;
}

.events {
  background: #f78c26;
  background: #eeae4b;
  @include background-image(linear-gradient(#eeae4b,#f78c26));
}

.alpha { margin-left: 0; }

.omega { margin-right: 0; }

footer {
  background: #776b5d;
  background: #333;
  color: $white;
  width: 100%;
  p {
    line-height: $height_hi_lo ;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .logotype { font-size: 1.875em; }

  #radio-player {
    height: em(300);
    background: url('/assets/overlay.png') repeat,
              #090f0f url('/assets/the_heist.jpg') center/cover no-repeat;
  }

  .radio-ui {
    #background-color: rgba(0,0,0, 0.4);
    text-align: center;
  }

  hgroup {
    // Weird. Unless I gave the hgroup an overflow of hidden the .welcome selector below
    // had weird behavior with the left margin, when setting the top margin
    // TODO: Find out if this is a bug in gecko, make testcase, then bugzilla it.
    overflow: hidden;
    width: 100%;
    h2 {
      font-size: 1.5em;
    }
  }

  .welcome {
    margin: 0px auto; /* TODO: Figure out why this isn't centered if the margin is small */
    font-size: 2em;
    line-height: 1em;
    width: 7em;
    /* Box-model issue? */
  }

  .jp-audio {
    @include border-radius( 0px );
  }

  .jp-controls {
    font-size: 3.5em;
  }

  .jp-play, .jp-pause {
    @include position(absolute, 0px 0 0 -10px);
  }

  .jp-mute, .jp-unmute {
    font-size: 0.8421em;
    @include position(absolute, 0px 5px 0 auto);
  }

  .jp-progress {
    @include position(absolute, 55px 0 0 0px );
    width: 100%;
  }

  .jp-seek-bar, .jp-play-bar {
    @include border-radius( 0px );
    height: em(24);
  }
}

@media  (max-width: 22.5em) { /* 360px @ 16 */
  @mixin radio-ui-height {
    height: 48px;
    height: 3rem;
  }

  $height_hi_lo: 48px;

  header, footer { height: $height_hi_lo; }

  body {  padding: 0; }

  h1, .welcome { font-size: 2em; }

  .logotype {
    width: 60%;
    line-height: $height_hi_lo;
  }

  .navbar {
    width: 30%;
    .nav > li > a { line-height: $height_hi_lo; }
  }

  .highlight {
    margin: 0 0.5em;
    h1 { font-size: 1.75em; line-height: 1em; }
  }
  .icon-clock { font-size: 1.0em; }

  .featured {
    margin: em(20);
    &:hover { @include box-shadow(none); }
  }

  .featured, .section-higher, .section-cover-img, .section-lower {
    height: 80px;
    overflow: hidden;
  }

  .section-higher {
    background-color: #333;
    img { display: none; }
  }

  .section-lower {
    .span1 {
      display: block;
      @include position(absolute, 0px 0px 0 0);
      width: 80px;
      background-color: transparent;
      z-index: 10;
      background: rgba(0,0,0, 0.1);
      .white {
        margin: 0;
        margin-top: 2px;
        font-size: 1.0em;
      }
      font-size: 1em;
    }
    .span3 {
      @include position(absolute, 0px 0 0 80px);
      height: 80px;
      width: 55%;
      z-index: 10;
    }
    h2, h4 {
      color: #fff;
      font-variant: normal;
      line-height: 0.9em;
      margin-left: 10px;
    }
    h2 {
      font-size: 1.2em;
    }
  }

  .avatar {
    @include position(static);
    height: auto;
  }

  .icon-play-circled {
    font-size: 4em;
    @include position(absolute, 2px 0 0 15px);
    padding-top: 8px;
    padding-right: 3px;
    height: 72px;
    width: 80px;
    background: rgba(255,255,255, 0.9) url('/assets/overlay.png') repeat;
    color: rgba(255,255,255, 0.9);
  }

  .featured:hover .icon-play-circled {
    color: #fff;
    background: rgba(255,255,255, 0.3) url('/assets/overlay.png') repeat;
  }

  footer p {
    line-height: $height_hi_lo;
    text-align: center;
  }

  [class*="span"] {
    margin-left: 0;
  }
}

@media (min-width: 22.6em) and (max-width: 640px) {
  .highlight {
    h1 { font-size: 2em; }
    .icon-clock { font-size: 30px; }
  }
}

@media (min-width: 380px) and (max-width: 640px) {
  .span4 { width: 370px; }
  .featured { margin: 2em auto; }
}

@media (min-width: 641px) and (max-width: 767px) {
  .span4 { width: 300px; }
  .featured { margin: 2em 1em 2em auto; }
}

@media (min-width: 22.6em) and (max-width: 767px) {
  body { padding: 0; }

  .span1 { width: 70px; }
  .span3 { width: 220px; margin-left: 10px;}

  .row {
    text-align: center;
    margin-left: 0;
    [class*="span"] {
      display: inline-block;
    }
  }

  .span1, .span3 {
    float: left;
    height: 80px;
    h2 { font-size: 1.75em; }
    text-align: left;
  }

  .white { text-align: center; }

}

@media (min-width: 768px) and (max-width: 979px) {
  .jp-progress { width: 75%; }

  .span1 { width: 70px; }
  .span3 { width: 220px; margin-left: 10px;}
  .span4 { width: 320px; }

  .row {
    margin-left: 20px;
  }

  .span1, .span3 {
    h2 { font-size: 1.75em; }
  }
}
